@model WebApplication2.Models.ViewModels.MalumotViewModels


    <div class="site-blocks-cover" style="background-image: url('/images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>
              <h1>Welcome To Pharma</h1>
              <p>
                <a asp-action="Xarid" asp-controller="Home" class="btn btn-primary px-5 py-3">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a asp-controller="Home" asp-action="Xarid" class="h-100">
                <h5>
                  🚚 Bepul Yetkazib Berish
                </h5>
                <strong style="color: white">
                  Har qanday buyurtma uchun bepul yetkazib berish xizmati mavjud. Sizning buyurtmangizni eshigingizgacha olib boramiz</strong>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a asp-controller="Home" asp-action="Xarid" class="h-100">
                <h5>🎉 Haftalik Chegirma - 50%</h5>
                <strong style="color: white">
                  Tanlangan mahsulotlar uchun 50% gacha chegirma! Faqat ushbu hafta davomida maxsus taklifdan foydalaning
                </strong>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-warning h-100">
              <a asp-controller="Home" asp-action="Xarid" class="h-100">
                <h5> 🎁 Sovg'a Kartasi Xarid Qiling</h5>
               <strong style="color: white">Oilangiz va do'stlaringiz uchun ideal sovg'a. Sovg'a kartalari bilan ular xohlagan narsasini tanlashlari mumkin </strong>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Popular Products</h2>
          </div>
        </div>

        <div class="row">
          @foreach (var product in Model.Products.Take(4).Skip(1))
          {
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
              @if (product.OldPrice != null && product.OldPrice > product.Price)
              {
                var discount = (int)(((product.OldPrice - product.Price) / product.OldPrice) * 100);
               
                <span class="tag">Sale @discount %</span>
              }
              else
              {
              }

              <a asp-action="MahsulotShow" asp-controller="Home" asp-route-id="@product.Id">
                <img src="~/images/@product.ImageUrl" alt="Image">
              </a>
              <h3 class="text-dark">
                <a asp-action="MahsulotShow" asp-controller="Home" asp-route-id="@product.Id">@product.Name</a>
              </h3>

              @if (product.OldPrice != null )
              {
                <p class="price">
                  <del>$@product.OldPrice</del> &mdash; $@product.Price
                </p>
              }
              else
              {
                <p class="price">$@product.Price</p>
              }
            </div>
          }
        </div>

        <div class="row mt-5">
          <div class="col-12 text-center">
            <a asp-controller="Home" asp-action="Xarid" class="btn btn-primary px-4 py-3">View All Products</a>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">New Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 owl-carousel">
            @foreach (var product in Model.NewProducts)
            {
              <div class="text-center item mb-4">
                <a asp-action="MahsulotShow" asp-controller="Home" asp-route-id="@product.Id">  <img src="~/images/@product.ImageUrl" alt="Image"></a>
                <h3 class="text-dark"><a asp-action="MahsulotShow" asp-route-id="@product.Id" asp-controller="Home">@product.Name</a></h3>
                <p class="price">@product.Price</p>
              </div>
            }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Testimonials</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 no-direction owl-carousel">
            @foreach (var review in Model.Reviews)
            {
              <div class="testimony">
                <blockquote>
                  <img src="~/images/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&rdquo;@review.Comment&rdquo;</p>
                </blockquote>

                <p>&mdash; @review.User.Name</p>
              </div>
            }
            
            </div>
          </div>
        </div>
      </div>
    </div>

